.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.App-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  background-color: black;
  box-sizing: border-box;
}
.anecdote {
  font-size: 22px; /* Adjusted font size */
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 600px;
  color: #ADD8E6; /* Lightening blue color */
}




.App-title {
  font-size: 28px;
  font-weight: bolder;
  background: linear-gradient(to right, #ff7f50, #ff6347, #ff4500, #ff8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.login-button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ff7f50; /* Same color as Blog */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  margin-top: 10px;
}

.google-button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4285F4; /* Google's color */
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 300px;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: black; /* Set the background color of the input field */
  color: white; /* Set the text color to white */
}


.signup-link {
  margin-top: 10px;
  color: white;
}

.signup-link span {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
